.titleHeader {
    font-size: 80px;
    color: whitesmoke;
}
.secondHeader {
    font-size: 50px;
    color: whitesmoke;
}
.page3Heading, .page4Heading {
    animation: fadein 3s;
    color: whitesmoke;
}

p {
    animation: fadein 3s;
    color: whitesmoke;
}

.privacyPicture {
    position: relative;
    margin: auto;
    margin-left:5%;
    margin-top: -5%;
}

.euPicture {
    position: relative;
    margin: auto;
    margin-left:5%;
}
#calebHannaPic, #estherSalasPic {
    border-radius: 50%;
}

figure {
    display: inline-block;
    /*border: 1px dotted gray;*/
    /*margin: 100px; !* adjust as needed *!*/
}
figure img {
    vertical-align: top;
}
figure figcaption {
    /*border: 1px dotted blue;*/
    text-align: center;
    color: whitesmoke;
    padding-top: 5px;
}

.hidden {
    display: none;
}
.visible {
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden1 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
}
/*#forgotten {*/
/*    animation: fadeOut 8s;*/
/*    -moz-animation: fadeOut 8s; !* Firefox *!*/
/*    -webkit-animation: fadeOut 8s ; !* Safari and Chrome *!*/
/*    -o-animation: fadeOut 8s; !* Opera *!*/
/*    display: none;*/
/*    opacity: 0;*/
/*}*/
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}